<?xml version="1.0" encoding="UTF-8"?>
<configuration><system.webServer><defaultDocument><files><clear/><add value="index.php"/></files></defaultDocument><directoryBrowse enabled="false"/><rewrite><rules><rule name="Private" stopProcessing="true"><match url="^(app|templates|content)(/|$)|^(config.*\.php|README\.md|run\.php|\.)"/><action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden"/></rule><rule name="Application" stopProcessing="true"><match url=".*"/><conditions><add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/></conditions><action type="Rewrite" url="index.php" appendQueryString="true"/></rule></rules></rewrite></system.webServer></configuration>
